<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 외국인과 동행
    body
        h1 Welcome to 외국인과 동행
        footer &copy; 2021 외국인과 동행