extends base.pug 

block content
    if errorMessage 
        span=errorMessage
    form(method="post") 
        input(type="text" name="username" required placeholder="Username")
        input(type="password" name="password" required placeholder="Password")
        input(type="submit" value="Login")
        include partials/social-login

    div.auth-switch
        span do not have have an account 
        a(href="/join") Join now &rarr;
