extends base.pug 
include mixins/video

block content 
    form(method="get").search__form

        input(placeholder="Search by Title" type="text" name="keyword")
        button Search now &rarr;

    div.video-grid
        each video in videos 
            +video(video)
        else    
            span.empty__message No Videos